@model IEnumerable<UniversityManagementSystemMVCApp.Models.CodeingClubTB>

@{
    ViewBag.Title = "Index";
}
@section Style
{

    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info text-center">Member List</h2>
    </div>
</div>
<br />
<table class="table" id="memTab">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentTB.StudentName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentTB.StudentName)
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#memTab").DataTable();
        });
    </script>

}