@model UniversityManagementSystemMVCApp.Models.Student
@{
    ViewBag.Title = "Student Registation";
}


@section Style
{
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <style>
        .field-validation-error {
            text-align: center;
            color: red;
        }

        #wrapper {
            width: 60%;
            margin: 0 auto;
        }

        input {
            width: 240px;
        }
    </style>
}

<div>
    <div id="wrapper">
        <hr />
        <h3>Register Student</h3>
        <hr />
        @using (Html.BeginForm(null, null, FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.StudentName, new { @class = "col-md-3 control-label" })
                @Html.TextBoxFor(x => x.StudentName, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.StudentName)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Email, new { @class = "col-md-3 control-label" })
                @Html.TextBoxFor(x => x.Email, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ContactNo, new { @class = "col-md-3 control-label" })
                @Html.TextBoxFor(x => x.ContactNo, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ContactNo)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.RegisterDate, new { @class = "col-md-3 control-label"})
                @Html.TextBoxFor(x => x.RegisterDate, "Date", new { @class = "form-control", @Value = @DateTime.Now.ToShortDateString() })
                @*<input type="text" id="RegisterDate" name="RegisterDate" class="form-control" value="@DateTime.Now.ToShortDateString()" />*@
                @Html.ValidationMessageFor(x => x.RegisterDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Address, new { @class = "col-md-3 control-label" })
                @Html.TextAreaFor(x => x.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Address)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.DepartmentId, new { @class = "col-md-3 control-label" })
                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.DepartmentId)
            </div>
            <div class="col-xs-11 space-ver">
                <input id="click" type="submit" value="Register" class="btn btn-success" />
            </div>
        }

        <div class="center"><h3>@ViewBag.Message</h3></div>
        <hr/>
        <p class="center">@ViewBag.StudentRegs</p>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {

            $("#RegisterDate").datepicker({
            });
            $('#click').click(function () {
                //var registrationNumber = @ViewBag.StudentReg
                //alert(registrationNumber)("Are you sure");
            });
        });
    </script>
}
