@model UniversityManagementSystemMVCApp.Models.CodingClubAdvTB

@{
    ViewBag.Title = "Create";
}

@section Style
{
    <link href="~/Content/Custom_CS.css" rel="stylesheet" />
    <style>
        #errmsg {
            color: red;
        }

        .field-validation-error {
            text-align: center;
            color: red;
        }

        #wrapper {
            width: 50%;
            margin: 0 auto;
        }

        input {
            width: 240px;
        }
    </style>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="wrapper">
        <h3 class="text-center text-info">Add Adviser</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherId, "Teacher", htmlAttributes: new { @class = "control-label col-md-3" })
            @Html.DropDownList("TeacherId", null,"--Select--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JoinDate, htmlAttributes: new { @class = "control-label col-md-3" })
            @Html.EditorFor(model => model.JoinDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.JoinDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" id="click" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
